@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;

:root {
  --clr-bg: #181818;
  --clr-bg-secondary: #34353a;
  --clr-font-primary: #fff;
  --clr-font-secondary: #fec576;
  --navbar-height: 75px;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-font-primary);
}

* {
  min-width: 0;
}

.animation-1 {
  transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.animation-2 {
  transform: translate3d(0px, -5.5rem, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

/* -------------------------------------------------------- */
