@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;

:root {
  --clr-bg: #181818;
  --clr-font: #dcdcdc;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-font);
}
