@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;

:root {
  --clr-bg: #181818;
  --clr-font-primary: #dcdcdc;
  --clr-font-secondary: #fec576;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-font-primary);
}

* {
  min-width: 0;
}
